body {
  height: 100%;
}

.App{
  margin-top: 10%;
}

#root {
  text-align: center;
}

.scoreboard {
  position: absolute;
  top: 0;
  left: 0;
}

.two, .one{
  text-align: center;
  width: 23%;
  top: 20%;
}

.one{
  float: left;
}

.two {
  float: left;
}

.board {
  background-color: brown;
  width: 50%;
  height: 30vw;
  float: left;
}

.deck-img {
  max-width: 30%;
}

.cards-left {
  float: left;
}
.card{
  margin: 30px 10px;
}

#playerOneCard{
  float: left;
  max-width: 30%;
}

#playerTwoCard {
  float: right;
  max-width: 30%;
}

.card img {
  max-width: 100%;
  max-height: 80%;
}
